<template>
    <!--<div contenteditable="true" style="height:300px; overflow:auto; background-color:#FFFFFF; padding:15px;"></div>-->
    <form style="100%;" class="d-flex flex-column flex-grow-1">
        <h5>Título</h5>
        <input type="text" class="form-control" name="" v-model="title"/>
        <h5>Autor</h5>
        <input type="text" class="form-control" name="" v-model="author"/>
        <h5>Tono</h5>
        <input type="text" class="form-control" name="" v-model="tone"/>

        <h5>Letra y acordes</h5>
        <div class="flex-grow-1">
            <textarea class="form-control" style="height:300px; overflow:auto; background-color:#FFFFFF; padding:15px; height:100%;" v-model="lyrics"></textarea>
        </div>
    </form>
</template>

<script>

//import SongLyrics from './SongLyrics'

export default {    

    data : function(){
        
        return {
            id     : null,
            title  : null,
            author : null,
            tone   : null,
            lyrics : null
        }
    },

    props : ['loadable'],

    created()
    {
        this.model2Data();

        //this.loadableElement = new SongLyrics({ id : this.id});
    },

    methods : {               

        model2Data(){
            for (let key in this.loadable)
            {
                if (key in this.$data)
                    this.$data[key] = this.loadable[key];
            }
        },

        data2Model(){
            for (let key in this.$data)
            {
                if (key in this.loadable)
                    this.loadable[key] = this.$data[key];
            }
        },

        getUpdatedModel(){
            this.data2Model();
            return this.loadable;
        },

        async load(id){

           /*  await this.loadableElement.load();
            
            this.id = song.id;
            this.title = song.title;
            this.songLyrics = song.lyrics;
            this.author = song.author;
            this.tone = song.tone; */
        }
    }
}
</script>