<template>    
    <div>
        <div v-for="(line, index) in song_lines" :key="index" :class="getLineTypeClass(line)" v-html="line.replace(/ /g, '\u00a0')">
        </div>
    </div>
</template>

<script>

import MusicUtils from '../../MusicUtils'

const defaultStyles = {
    showChords : true,
    chordsSize : '14px',
    chordsColor : '#999',
    lyricsSize : '#000',
    lyricsColor : '24px',
    separatorHeight : '32px',
}

export default {

    name : 'lyricsview',

    components: {  },

    props : ['data','config'],

    computed : {
        song_lines(){            
            return this.data ? this.data.lyrics.split(/\r?\n/g): [];
        }
    },

    watch : {        
        config(conf){
            this.applyStyles();
        }
    },

    mounted(){        
        this.applyStyles();
    },

    updated(){                
        this.applyStyles();
    },

    data : function(){
        
        return {
            
        }
    },

    created : function(){
        //console.log(this.data);        
    },

    methods : {

        applyStyles()
        {            
            $(this.$el).find('.chords_line').css({
                'display'   : ('showChords' in this.config && typeof this.config.showChords == 'boolean'? this.config.showChords : defaultStyles.showChords)? 'block' : 'none',
                'font-size' : this.config.chordsSize ? this.config.chordsSize +'px' : defaultStyles.chordsSize,
                'color'     : this.config.chordsColor ?  this.config.chordsColor : defaultStyles.chordsColor
            });

            $(this.$el).find('.lyrics_line').css({
                'font-size' : this.config.lyricsSize ? this.config.lyricsSize +'px' : defaultStyles.lyricsSize,
                'color'     : this.config.lyricsColor ?  this.config.lyricsColor : defaultStyles.lyricsColor
            });

            $(this.$el).find('.separator_line').css({
                height : this.config.separatorHeight ?  this.config.separatorHeight+'px':defaultStyles.separatorHeight
            });
        },

        getLineTypeClass(value){            
            return this.getLineType(value);
        },

        getLineType(value)     
        {       
            let chunks = this.clean(value);

            if (chunks == '')
                return 'separator_line';
            
            chunks = chunks.split(' ');
            
            
            let chords = 0;
            let words = 0;

            chunks.forEach(chunk=>{
                
                if (MusicUtils.isChord(chunk))
                    chords++;
                else
                    words++;
            });            

            if (chords > words)
                return 'chords_line'
            else
                return 'lyrics_line'
        },

        clean(value){
            // Replace multiple spaces with one space:
            value = value.replace(/-/, ' ')
                         .replace(/\s+/g, ' ')
                         .replace(/ /g, ' ')
                         .replace(/\t+/, ' ')                         

            return value;
            // Replace one or multiple tabs with one space:
            //$value = preg_replace('/\t+/', ' ', $value);
            //return trim($value);
        },

        isChord(){
            
        }
    }
}
</script>

<style>
/* .chords_line{

}

.lyrics_line{
    
} */
</style>