<template>
    <div>
        <div class="d-flex flex-column" style="width:100%; height:100%; position:absolute; overflow: hidden;">
            <div class="flex-grow-1 flex-shrink-1 d-flex d-flex flex-row" style="overflow:auto;">                      
                <div class="flex-grow-1 flex-shrink-1 d-flex flex-column">
                    <div class="search lex-grow-1f flex-shrink-0" v-show="show_search">
                        <div class="form form-inline d-flex lex-grow-1">
                            <ais-instant-search :search-client="searchClient" :index-name="algolia_prefix+'cw_songs'">
                                <div class="search-panel">
                                    <div class="search-panel__filters">
                                        <ais-refinement-list attribute="categories"  />
                                    </div>

                                    <div class="search-panel__results" style="width:100%;">
                                        <ais-search-box placeholder="Busca título, autor o letra" class="searchbox" ref="search_input" tabindex="0" show-loading-indicator>
                                            <searchbox :delay="200" />                                            
                                        </ais-search-box>
                                        <div class="pagination mt-2" style="justify-content: flex-end;">
                                            <ais-pagination />
                                        </div>
                                        <ais-hits-per-page :items="[{ label: '5', value: itemsPerPage, default: true }]" v-show="false"/>
                                        <ais-hits>
                                            <template slot="item" slot-scope="{ item }">
                                                <div @click="_addToQueueAndLoad(item.id, 'SongLyrics', item.title, { tone : item.tone }, 'start')" class="d-flex flex-row">
                                                    <div class="flex-grow-1">
                                                        <b><ais-highlight :hit="item" attribute="title"/></b> &nbsp;<i class="text-small" v-if="item.author"><small>(<ais-highlight :hit="item" attribute="author" />)</small></i>
                                                        <p><ais-snippet :hit="item" attribute="text"></ais-snippet></p>                                                                                                        
                                                    </div>
                                                    <div class="flex-grow-0">
                                                        <button type="button" class="btn btn-default" @click.stop.prevent="_addToQueue({ id : item.id, type : 'SongLyrics', title : item.title,  props : { tone : item.tone }}, 'end')">Añadir</button>
                                                    </div>
                                                </div>
                                            </template>
                                        </ais-hits>                                
                                    </div>
                                </div>
                            </ais-instant-search>
                        </div>
                    </div>
                    <div class="song-lyrics flex-grow-1 flex-shrink-1 d-flex flex-column">                        
                        <template v-if="currentItem && zone != 'create'">
                            <template v-if="zone == 'view'">
                                <span v-if="isLoadedFromCache" style="font-size: 12px; left: 0px; top: 0px; position: absolute; background-color: #ffd4d4; padding: 3px;">Canción desde cache</span>
                                <component :is="currentItem.getComponentViewName()" :data="currentItem" :config="currentConfig" :key="currentItem.getResourceStorageKey()"></component>
                            </template>
                            <template v-else-if="zone == 'edit'">
                                <component :is="currentItem.getComponentFormName()" :loadable="currentItem" ref="editor"></component>
                                <div class="mt-3 d-flex flex-row">
                                    <button class="btn btn_action" @click="zone = 'view'">Volver</button>
                                    <button class="btn btn_action" @click="onDeleteLoadableRequest()">Borrar</button>
                                    <button class="btn btn_action" @click="onSaveLoadable">Guardar</button>
                                </div>
                            </template>
                        </template>
                        <template v-else-if="zone == 'create'">
                            <div v-for="loadable in classes" style="background-color:#CCC; border-radius:12px;" @click="_selectLoadableToCreate(loadable)">
                                <i :class="loadable.getIcon()" class="fa-3x"></i>
                                <br>{{ loadable.getName() }}
                            </div>
                        </template>
                    </div>
                </div>            
                <div class="d-flex flex-column flex-grow-0 flex-shrink-0 queue_items_wrapper">
                    <div class="d-flex flex-column flex-grow-0">  
                        <button class="btn btn_action" :class="{'selected':show_search}" @click="_showSearch"><i class="fa fa-search"></i></button>                                                          
                        <div class="d-flex flex-row">
                            <button class="btn btn_action" @click="_onMoveToFromQueueClick('left')" :disabled="!queue.length || !currentItem"><i class="fa fa-arrow-up"></i></button>
                            <button class="btn btn_action" @click="_onMoveToFromQueueClick('right')" :disabled="!queue.length || !currentItem"><i class="fa fa-arrow-down"></i></button>
                            <button class="btn btn_action"  :disabled="!queue.length || !currentItem" @click="_onDeleteFromQueueClick()"><i class="fa fa-trash"></i></button>
                        </div>                            
                    </div>
                    <div class="d-flex flex-grow-1 flex-shrink-1 flex-column song_list" style="overflow-y:auto;">
                        <div v-for="item in queue" :key="item.id" class="queue_item flex-grow-1 " :id="'queue-item-'+item.id" @click="_onQueueItemClick(item)" :class="{'active' : currentItem && item.id == currentItem.id, 'restored-item':item.id == queue_latest_added_id}" :style="item.id == queue_latest_added_id ? 'transform:scale(0)':''">                    
                            <div class="queue_title">{{item.getQueueTitle()}}</div>                    
                            <div class="tone">{{ item.getQueueBadge() }}</div>
                        </div>
                    </div>
                    <div class="d-flex flex-row">                  
                        <button class="btn btn_action" style="width:100%;" :disabled="!queue.length" @click="_onConfigClick()" v-popover.top="{ name: 'foo', event : 'click' }"><i class="fa fa-cog"></i></button>
                        <button class="btn btn_action" v-show="currentItem" @click="zone='edit'"><i class="fa fa-edit"></i></button>
                        <popover name="foo" v-if="currentItem">
                            <JsonSchema :schema="currentItem.getConfigurableSchema()" v-model="currentConfig" :components="UISchemaComponents"/>
                        </popover>
                        <button class="btn btn_action"  @click="zone='create'"><i class="fa fa-plus"></i></button>
                    </div>                    
                </div>                  
            </div>                        
        </div>
    </div>
</template>

<script>

import InstantSearch from 'vue-instantsearch';
import algoliasearch from 'algoliasearch/lite';
import 'instantsearch.css/themes/algolia-min.css';
import Searchbox from './searchbox'
import SongLyrics from '../../loadables/songlyrics/SongLyrics'
import SongLyricsView from '../../loadables/songlyrics/SongLyricsView'
import SongLyricsForm from '../../loadables/songlyrics/SongLyricsForm'
import JsonSchema from '@roma219/vue-jsonschema-form'
import Slider from './forms/slider'
import Color from './forms/color'
import  vue  from 'vue'


const classes = { SongLyrics }

Vue.component('Slider', Slider);
Vue.component('Color', Color);
//import Popover from 'vue-js-popover'

const UISchemaComponents = [
    {
        componentName: 'Slider',
        //uiSchemaMatcher: { uiType: 'range' }, 
        matcher: { uiType: 'range' },
        //contains: 'range',
        eventName: 'input',
        props: (propName, schema, uiSchema) => ({
            min: schema.minimum,
            max: schema.maximum
        })
    },
     {
        componentName: 'Color',
        //uiSchemaMatcher: { uiType: 'color' }, 
        matcher: { uiType: 'color' },
        //contains: 'range',
        eventName: 'input',
        props: (propName, schema, uiSchema) => ({
        })
    }
];

const VERSION = 20230304;

export default {

    components: { 
        InstantSearch,
        SongLyricsView, SongLyricsForm,   
        JsonSchema,
        Slider,
        Searchbox    
    },

    props : {
        session_id: {
            type: String
        },
        algolia_prefix : {
            type: String,
            default : ''
        }
    },
    //['session_id','algolia_prefix'],

    computed : {
        UISchemaComponents : ()=>UISchemaComponents,
        classes : ()=>classes,
        VERSION : ()=>VERSION
    },

    watch : {
        
        currentConfig(new_, old_){          
            localStorage.setItem(this.currentItem.getTypeConfigStorageKey(), JSON.stringify({ ...new_, version : this.VERSION }));
        },        

        queue_latest_added_id(new_,old_){
            if (new_)
            {
                setTimeout(()=>{
                    this.queue_latest_added_id = null;
                }, 1000);                
            }
        }
    },

    data(){
        return {
            selectedImportDriver : null,
            showModalImport : false,
            importDrivers : [],            
            import_step : 1,

            zone : 'view', // edit, view, create
            
            currentConfig : null,
            currentItem : null,
            itemsPerPage : 5,
            isLoadedFromCache : false,
            song : null,
            queue : [],
            queue_latest_added_id : null,
            queue_show : true,
            show_search : false,
            searchClient: algoliasearch(
                'LR95YI64O9',
                'ef4104eb7dddbc6171fd1c779c8423cf'
            )
        }
    },

    created : function(){
        
        //alert(this.session_id);        
        
        Echo.private(`livesession`)
            .listenForWhisper('SongLoaded', (e) => {
                alert('asdf');
            });

        this._cleanOldStorageDataVersions();
        this._loadQueueFromStorage();
        this.loadImportDrivers();
    },

    methods : {    


        _loadQueueFromStorage()
        {
            const queue_saved = localStorage.getItem('queue') || '[]';
            this.queue = JSON.parse(queue_saved)
                            .filter(i=> {                                
                                return this._isValidVersion(i) && i.hasOwnProperty('type') && this._isValidLoadable(i.type)
                            })
                            .map(i=> new classes[i.type](i));            
            this.updateQueueLocalStorage();
        },

        _isValidVersion(obj){
            return obj.hasOwnProperty('version') && obj.version >= this.VERSION;
        },

        _isValidLoadable(type){
            return classes.hasOwnProperty(type);
        },

        _cleanOldStorageDataVersions()
        {            
            const regexList = [/songlyrics-*/, /loadable-*/, /\\*-conf/];

            for (var key in localStorage)
            {                
                if (regexList.some(rx => rx.test(key)))
                {
                    try
                    {
                        const obj = JSON.parse(localStorage.getItem(key));
                    
                        if (!this._isValidVersion(obj))
                            localStorage.removeItem(key);
                    }
                    catch(e)
                    {
                        localStorage.removeItem(key);
                    }

                }
            }
            // queue

        },

        _selectLoadableToCreate(loadable){
            this.currentItem = new loadable();
            this.zone = 'edit';
        },

        async onDeleteLoadableRequest(){
            
            if (!confirm(`¿Seguro que quieres borrar este recurso?\n\n ${this.currentItem.getName()}: ${this.currentItem.getQueueTitle()}`)) 
                return;

            await this.currentItem.delete();

            this._onDeleteFromQueueClick(()=>this.currentItem = null);                           
            
            alert('Borrado correctamente');

            this.zone = 'view';
        },

        async onSaveLoadable()
        {
            const item = this.$refs.editor.getUpdatedModel();
            
            try
            {            
                await item.store();
                alert('item saved');
                this.zone = 'view';
                
                
                // update queue
                const queueItem = this._getQueueItemById(item.id);

                if (!queueItem) return;

                item.getFieldsForQueueInfo().forEach((key)=>{
                    queueItem[key] = item[key];
                });                
                
                this.updateQueueLocalStorage();
            }
            catch(e)
            {
                console.log(e);
                alert('Error saving, please try again')
            }
        },
        
        loadImportDrivers()
        {
            this.importDrivers = [
                {
                    name : 'Canción con acordes',
                    slug : 'SongLyrics',
                    importFormComponent : 'rawtext-importer'
                },
                {
                    name : 'Texto rico',
                    slug : 'richtext',
                    importFormComponent : 'rawtext-importer'
                }
            ];
        },

        _addToQueue(element, position = 'end')
        {         
            if (this._getQueueItemIndexById(element) > -1) 
                return;
            
            this.queue_latest_added_id = element.id;            

            if (position == 'end')
                this.queue.push(element);                    
            else
                this.queue.unshift(element);

            this.updateQueueLocalStorage();                
        },        

        _showSearch(){
            this.show_search = !!!this.show_search;
            
            if (this.show_search == true)
            {
                this.$nextTick(() => {
                    this._focus();
                });
            }
        },

        _focus(){
           this.$refs.search_input.$el.querySelector('input').focus();//.trigger('click');
        },

        async _addToQueueAndLoad(id, type, title, props, queuePosition)
        {
            try
            {
                let currentItem = new classes[type]({ id, type, title, ...props });
                this._addToQueue(currentItem, queuePosition);
                await this.loadItemById(id, type);
                this.show_search = false;
            }
            catch(e)
            {                
                console.log(e);                
            }
        },

        _onQueueItemClick(item){            
            this.loadItemById(item.id, item.type);
        },

        _getQueueItemById(id){
            return this.queue.find(item => item.id == id);
        },

        _getQueueItemIndexById(id){
            return this.queue.findIndex(item => item.id == id);
        },

        _onDeleteFromQueueClick(ondelete = null){
            $('#queue-item-'+this.currentItem.id).addClass('removed-item');
            setTimeout(()=>{
                this.$delete(this.queue, this._getQueueItemIndexById(this.currentItem.id));
                this.updateQueueLocalStorage();
                ondelete && ondelete();
            }, 0);
        },

        _onConfigClick(){

        },

        updateQueueLocalStorage(){
            localStorage.setItem('queue', JSON.stringify(this.queue.map(i=> { return {...i, version : this.VERSION }})));
        },

        _onMoveToFromQueueClick(direction)
        {
            let currentIndex = this._getQueueItemIndexById(this.currentItem.id);
            let newIndex = currentIndex;

            if (direction == 'left')
                newIndex--;
            else
                newIndex++;

            if (newIndex < 0 || newIndex >= this.queue.length)
                return;

            this.queue.splice(newIndex, 0, this.queue.splice(currentIndex, 1)[0]);
            this.updateQueueLocalStorage();

            this.$nextTick(()=>{
                let element = document.getElementById('queue-item-'+this.currentItem.id);
                if (!this.isInViewport(element))               
                    element.scrollIntoView();                
            });            
        },

        isInViewport(element) {
            const rect = element.getBoundingClientRect();
            return (
                rect.top >= 0 &&
                rect.left >= 0 &&
                rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
                rect.right <= (window.innerWidth || document.documentElement.clientWidth)
            );
        },

        _onToggleQueueClick(){            
            this.queue_show = !this.queue_show;
        },

        async loadItemById(id, type)
        {
            let element;            

            if (window.navigator.onLine)
            {
                element = await classes[type].find(id);
                //element = await element.find(id);             
                this.isLoadedFromCache = false;
                this.saveToCache(element);
            }
            else
            {
                element = await Promise.resolve(this.getFromCache(item));
                this.isLoadedFromCache = true;
            }

            this.loadItem(element);
        },

        loadItem(element)
        {
            if (localStorage.hasOwnProperty(element.getTypeConfigStorageKey()))                            
                this.currentConfig = JSON.parse(localStorage.getItem(element.getTypeConfigStorageKey()));            
            else
                this.currentConfig = element.getConfigurableModel();

            this.currentItem = element;
        },

        saveToCache(element){
            localStorage.setItem(element.getResourceStorageKey(), JSON.stringify({...element, version : this.VERSION}));
        },

        getFromCache(item)
        {
            let element = localStorage.getItem(item.getResourceStorageKey());

            if (!element) 
                return null;
            else
                element = JSON.parse(element);

            element = new classes[element.type](element);            

            return element;
        }
    }
}
</script>

<style>
.searchbox{
    width:100%; 
    border:0px;
    outline: none;
}
.search{
    padding:24px;
    /* position:absolute;  */
    margin-right:162px;
    /*margin-bottom : 100px;*/
    background-color: #FFFFFF;    
    min-width: 100%;
}
.ais-InstantSearch{
    width:100%;
}
.ais-Hits{
    margin-top: 12px;
}
.ais-Hits-item
{
    width:100%;
}
.queue.hidden{
    margin-bottom: -129px;
}
.queue_items_wrapper{    
    width: 160px;
    padding: 12px 0px 0px 12px !important;    
}
.queue_items_wrapper > *{    
    padding-right: 15px;
}
.song_list{
    margin-right: 1px !important;
    padding-top: 7px;
    overflow-x: hidden;
} 
.queue_item{
    cursor:pointer;
    user-select: none;
    max-height:114px;
    /* min-width: 123px; */
    margin-bottom: 12px;
    border:1px solid #CCC;
    background-color:#FFF;
    padding: 12px;
    text-align: center;
    font-style: italic;
    font-size:24px;
    text-overflow: ellipsis;    
    max-width: 220px;
    position: relative;
}
.queue_item.active{
    border:2px solid #42a2dc;
}
.queue_item .queue_title{
    width:100%;
    height: 100%;
    overflow: hidden;
    line-break: auto;
    line-height: 28px;
}
.queue_item .tone{
    background-color: #9aa5ac;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    top: -7px;
    right: -6px;
    position: absolute;
    font-size: 19px;
    font-weight: bold;
    font-style: normal;
}
.queue_item.active .tone{
    background-color: #42a2dc;
}

.btn_action{
    border-radius:24px;
    color:white;  
    background-color:#dde1e3;  
    width:100%;    
    font-size: 21px;
    margin-bottom:12px;    
}
.btn_action:active, .btn_action.selected{
    background-color:#42a2dc;
    color:white;
}

.search input, .search input:active, .search input:focus
{
    /*
    background-color: transparent;
    border: none;    
    */
    box-shadow:none;
    text-align:center;
    
    font-size: 24px;
}

.song-lyrics{
    background-color:white;
    overflow-y:auto;    
    padding:22px;
    text-align: center;
    font-size: 24px;
}

.menu{
    padding: 24px 12px 0px 12px;
    flex-basis: 100px;
}

.menu hr{
    width:100%;
    margin: 25px 0px;
}

.queue_item.removed-item {
    animation: removed-item-animation .6s cubic-bezier(.55,-0.04,.91,.94) forwards;
}
@keyframes removed-item-animation {
    from {
       
    }

    to {
       
    }
}
.queue_item.restored-item {
    animation: 
        /*make sure to open space up before bringing the item into position*/
        openspace .3s ease forwards, 
        restored-item-animation .3s .3s cubic-bezier(0,.8,.32,1.07) forwards;
}

@keyframes openspace {
    to {
        
    }
}

@keyframes restored-item-animation {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}


::-webkit-scrollbar{

    -webkit-appearance: none;
    width: 7px;

}

::-webkit-scrollbar-thumb {

    border-radius: 4px;
    background-color: rgba(0,0,0,.5); 
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #707070;
}

::-webkit-scrollbar-thumb:hover {
  background: #355cc9;
}
::-webkit-overflow-scrolling:touch {
  background:#707070;
  width: 5px;
}
</style>