<template>
    <div>
        <input type="color" v-model="localValue"/>
    </div>
</template>

<script>
    export default {

        name : 'color',

        props: ['value'],  
        
        data () {
            return {
                localValue: this.value
            }
        },

        watch: {
            localValue (newValue) {
                this.$emit('input', newValue)
            },
            value (newValue) {
                this.localValue = newValue;
            }
        }
    }
</script>