<template>
    <div>
        <input type="range" :min="min" :max="max" step="1" v-model="localValue"/>
    </div>
</template>

<script>
    export default {

        name : 'slider',

        props: ['value','min','max'],  
        
        data () {
            return {
                localValue: this.value
            }
        },

        watch: {
            localValue (newValue) {
                this.$emit('input', newValue)
            },
            value (newValue) {
                this.localValue = newValue;
            }
        }
    }
</script>